<h1> User Profile Page </h1>

This should show the form data and allow the user to click on their respective zodiac sign as well as the traits.
 they will also be able to click their sign and be taken to the constellations id page with the all of traits and descriptions


<%= @constellations.name %>
