<h1> Find Your Constellation! </h1>
  <br><br>

<% if user_signed_in? %>
  <%= form_tag '/constellations' do %>
    <label> Name: </label> 
    <%= text_field_tag :name %><br><br>
    <label> Choose Your Sun Sign: </label>
    <%= collection_select(:user, :constellation_id, Constellation.all, :id, :name) %>
    <br>

    <%= submit_tag "submit" %>
  <% end %>
<% end %>
<br>

